:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bar-border: 2px solid white;
  --bar-border-radius: 4px;
  --bar-height: 4rem;
}


html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  color: white;
  background-color: rgb(29, 31, 35);
}