.bar{
    border: var(--bar-border);
    border-radius: var(--bar-border-radius);
    height: var(--bar-height);
    position: relative;
}

.bar::before{
    content: attr(data-toolTip);
    position: absolute;
    text-wrap: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 1rem;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.bar:hover::before{
    opacity: 1;
}