.mainGrid{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.label{
    font-size: 2rem;
}

.labelContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}